/* This is how you make comments h1 curly braces changes all h1 files 
"color" is the property and "blue" is the value */
h1{
    color: blue;
    border: 1px solid red;
    text-align: center; 
}

p {
    text-align: right;
}

#fall {
    color: orange;

}
.bordered {
    border: 2px solid green ;
    margin: 10px;
    padding: 10px;
}

#chips {
    font-weight: bold;
}

li { 
    font-style: italic;
}
